  :root {
      --cols: 2;
      --rows: 2;
      --cell-height: 200px;
      --gap: 20px;
      --container-width: 95%;
  }


  /* Main container holding both grids */
.container {
    margin: 10px 0;        /* remove auto centering */
    width: 90%;           /* full width */
    padding: 20px;            /* remove side padding limiting width */
    padding-top: 0px;
    margin-top: 0px;
}

  /*the actual grid of items*/
.grid-container {
    display: grid;
    gap: var(--gap);
    padding: var(--gap);
    width: 100%;           /* ensure it fills container */
    grid-template-columns: repeat(var(--cols), 1fr);
}

  .grid-title-text{
    text-align: center;
    font-style:normal;
    font-size: 200%;
    border-bottom: 1px solid #AAAAAA;
  }
  /*the items*/
  .grid-item {
      border: 2px solid #000000;
      overflow: hidden;
      transition: border-color 0.3s ease, transform 0.3s ease;
      background: white;
      padding: 10px;
  }



body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    /* pushes items apart */
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo {
    width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

nav {
    display: flex;
    gap: 10px;
    /* space between buttons */
}

nav button {
    flex: 1;
    text-align: center;
    padding: 10px 18px;
    background-color: #AAAAAA;
    border-color: #111111;
    font-size: 16px;
    transition: all 0.2s ease;
}

nav button:hover {
    background-color: #DDDDDD;
    border-color: #222222;
    transform: translateY(-1px);
    box-shadow: 0 4px 10px #000000;
}

nav button:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px #000000;
}

footer {
    border-top: 1px solid #A0A0A0;
    font-size: 12px;
    padding: 10px;
}

a:link,
a:visited {
    color: #7685BA;
}

/* Container */
.image-container {
  width: 94%;
  height: 300px;            
  margin: 30px auto;           
  position: relative;       
  overflow: hidden;     
  border: 1px solid black;    
}

/* Image */
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  display: block;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: white;
  font-size: 2rem;
  text-align: center;

}


h1{
    border-top: 1px solid #000000;
    padding-inline: 20px;
    margin-inline: 20px;
}